/*CSS Magali */




/* NAV */

.header-user nav, .header-admin nav {
    margin: 0 auto;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    margin-top: 1.3%;
    margin-bottom: 5%;
}

.header-user nav a, .header-admin nav a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.header-user nav a:hover, .header-admin nav a:hover {
    background-color: #111;
}



/* HEADER */

header {
    text-align: center;
    margin-top: 1.3%;
}

#logo {
    width: 12%;
}

/*HOME*/

.home{
    display: flex;
    flex-direction: row;
}

/* ARTICLES */

.little-article article {
    margin-top: 5%;
    width: 80%;
    text-align: justify;
}

.little-article img {
    width: 100%;
}

.little-article h4 {
    margin-top: 0;
    margin-bottom: 0;
}



/* COMMENTS */

.comment {
    width: 40%;
    text-align: justify;
}





/* MENU */
/*
.menu {
	display: flex;
    justify-content: space-between;
	text-align: justify;
}
*/
.liste-menu ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.liste-menu ul li {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.menu img {
	width: 95%;
	margin: 0 auto;
}

 ul li {
    min-height: 0;
    min-width: 0;
}
.menu h5 {
    margin-bottom: 4%;
    text-align: center;
}

.menu .price {
    text-align: center;
}

.food h3 {
    text-align: center;
}

.food small {
    text-align: justify;
}



/* LOGIN */

.login input{
	border-top: 0; 
	border-left: 0;
	border-right: 0;
    box-shadow: 0 0 0px 1000px white inset;
}

.login {
    text-align: center;
}


/* CREATE ARTICLE */

.create textarea {
    width: 700px;
    height: 200px;
}






