/*CSS Jean*/

/*Order*/
.order input{
	border-top: 0; 
	border-left: 0;
	border-right: 0;
}

.order input:focus{
	outline: none;
}

#choice{
	text-align: center;
	font-size: 2rem;
	word-spacing: 0.5rem;
}

.radio{
	margin: 2%;
}

/*Spot */

.spot h2{
	text-align: center;
}

.btn-active{
	background-color: tomato;
}

/*Delivery*/

.little-menu ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.little-menu ul li {
    display: flex;
    /*flex: 1 calc (100%/2);*/
     flex-basis: 24%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.little-menu .menu-delivery img {
	width: 95%;
	margin: 0 auto;
}

.little-menu  ul li {
    min-height: 0;
    min-width: 0;
}
.little-menu .menu-delivery h5 {
    margin-bottom: 4%;
    text-align: center;
}

.little-menu .menu-delivery .price {
    text-align: center;
}

.little-menu .food-delivery h3 {
    text-align: center;
}

.little-menu .food-delivery small {
    text-align: justify;
}