/*CSS Jean*/

/*Order*/
.order input{
	border-top: 0; 
	border-left: 0;
	border-right: 0;
}

.order input:focus{
	outline: none;
}

#choice{
	text-align: center;
	font-size: 2rem;
	word-spacing: 0.5rem;
}

.radio{
	margin: 2%;
}

/*Spot */

.spot h2{
	text-align: center;
}

.btn-active{
	background-color: tomato;
}